# Use this as a template to build your .env file

## Setup
# Insert url for the directory google form spreadsheet

#STUDENT_DIRECTORY_URL= # this is the URL to the google spreadsheet with the directory responses
#UCLA_EMAIL=
